.screen__frontBlack {
  position: absolute;
  width: 100vw;
  height: 120vh;

  background-color: rgba(8, 5, 6, 0.89);
  z-index: 16;
  top: 0%;
  transition: 1s ease-in-out;
}

.screen_frontType {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  color: white;
  position: relative;
  top: 40%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 350%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.whoIsProgrammer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-weight: 500;
  color: white;
  position: relative;
  top: 74%;

  margin: 0 auto;
  font-size: 100%;
  text-align: center;

  transform: translateY(-50%);
}
.screen__frontBlack img {
  top: 77.4%;
  position: absolute;
  right: 1.5%;
  width: 3%;
}

.anim-typewriter {
  animation: typewriter 1s steps(10) 1s 1 normal both,
    blinkTextCursor 700ms steps(9) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 3.6em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
